`<div class="container">
    <div class="gallery">
        <img src="../../assets/2.jpg" alt="face">
            <div class="desc">Smoking is life</div>
    </div>
    <div class="gallery">
        <img src="../../assets/3.jpg" alt="face">
            <div class="desc">Travelling is fun</div>
    </div>
    <div class="gallery">
        <img src="../../assets/5.jpg" alt="face">
            <div class="desc"> Tambay sa tulay sa Uyawan</div>
    </div>
    <div class="gallery">
        <img src="../../assets/6.jpg" alt="face">
            <div class="desc">Back at McArthur,Leyte</div>
    </div>
    <div class="gallery">
        <img src="../../assets/10.jpg" alt="face">
            <div class="desc">GOOD MORNING</div>
    </div>
    <div class="gallery">
        <img src="../../assets/11.jpg" alt="face">
            <div class="desc">My Siblings</div>
    </div>
</div>
