`<div class="container">
    <div class="gallery">
        <img src="../../assets/2.jpg" alt="face">
            <div class="desc">Thinking how will i code the midterm exam hahhah.</div>
    </div>
    <div class="gallery">
        <img src="../../assets/3.jpg" alt="face">
            <div class="desc">Sir, kayano kasugad?! Diri harumamay. Garet na ko!</div>
    </div>
    <div class="gallery">
        <img src="../../assets/5.jpg" alt="face">
            <div class="desc"> Joke lang sir, peace hehheh. Bati na tayo</div>
    </div>
    <div class="gallery">
        <img src="../../assets/6.jpg" alt="face">
            <div class="desc"> The beggining of my Guitar Journey.</div>
    </div>
    <div class="gallery">
        <img src="../../assets/10.jpg" alt="face">
            <div class="desc"> Church rehearsal.</div>
    </div>
    <div class="gallery">
        <img src="../../assets/11.jpg" alt="face">
            <div class="desc"> My Highschool life at HCCC.</div>
    </div>
</div>
