<body>

    <div class="center">
        <div class="avatar">
            <img src="../../assets/3.jpg" alt="face">
        </div>
        <div class="content">
            <h1>Pejay Zeta</h1>
            <h2>3rd Year I.T Student</h2>
            <p>I am an aspiring music producer and I'm also interesting in editing videos.
                Also, I do love playing guitar and watching movies. I currently work at a bakeshop
                right now while studying. Being a baker is my source of income right now in order 
                to provide for the family. </p>
            <h3>This is my Profile.</h3>
        </div>
    </div>
</body>
